
# Distribution / packaging
# Environments
# Jupyter Notebook
# PyBuilder
# mypy
# pyenv
#pycharm
*$py.class
*.DS_Store
*.egg-info/
*.py[cod]
*.pyc
.env
.idea/
.ipynb_checkpoints
.ipynb_checkpoints/
.mypy_cache/
.python-version
.venv
ENV/
__pycache__/
build/
data/
env.bak/
env/
models/
screenlog*.*
target/
tb_profiler/
venv.bak/
venv/
workspace.xml
~*.*
